@use "../utils/mixins";

.button{
  width: 280px;
  height: 56px;
  display: block;
  border: 2px solid #292929;
  background: #292929;
  text-decoration: none;
  color: #FFF;
  line-height: 56px;
  box-sizing: border-box;

  border-radius: 8px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;

  @include for-desktop-medium{
    width: 600px;
  }

  @include for-desktop-big{
    width: 324px;

    &__form{
      width: 411px;
    }
  }

  &:hover{
    border: 2px solid #F0F1F4;
    background: #F8F8FA;
    color: #292929;
  }

  &:active{
    border: none;
    background: #111;
    color: #FFF;
  }

}
