@use "../utils/mixins";

.contact{
  @include grid;
  &__form{
    grid-column: 1/3;

    @include for-desktop-medium{
      grid-column: 1/7;
    }

    @include for-desktop-big{
      grid-column: 1/6;
    }
  }
  &__address{
  grid-column: 1/3;

    @include for-desktop-medium{
      grid-column: 1/7;
    }
    
    @include for-desktop-big{
      grid-column: 7/13;
    }
  }
}
