@use "../utils/mixins";

.footer{
  height: 200px;

  background-image: url(../images/photos/Footer_black.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include for-desktop-medium{
    height: 400px;
  }

  @include for-desktop-big{
    height: 460px;
  }
}
