@mixin visually-hidden() {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__label{
    &:not(:focus, :active){
      @include visually-hidden
    }
  }
  &__input{
    border-radius: 8px;
    background: #F8F8FA;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    line-height: 48px;
    padding-left: 16px;

    &::placeholder{
      font-family: "Space Mono", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0;
      color: #7E7E83;

    }
  }
  &__textarea{
    border-radius: 8px;
    background: #F8F8FA;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    height: 148px;
    line-height: 48px;
    padding-left: 16px;
    padding-top: 14px;

    &::placeholder{
      font-family: "Space Mono", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0;
      color: #7E7E83;

    }
  }

  &__button{
    margin-top: 16px;
    margin-bottom: 48px;
  }
}
