@use '../utils/mixins';

.header{
  background-color: aquamarine;
  background-image: url(../images/header-background-big.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x:center ;
  min-height: 100vh;
  min-width: 320px;
  padding: 0 20px 40px;
  box-sizing: border-box;

  @include grid;

  grid-template-rows:1fr 1fr ;

  @include for-desktop-medium {
    background-image: url(../images/header-background-big.jpg);
    background-position-x:center ;
  }

  @include for-desktop-big {
    background-image: url(../images/header-background-big.jpg);
    background-position-y:center ;
  }

    &__navigation{
      grid-column: 1 / 3;
      grid-row:1 / 2;
      align-self: start;

      @include for-desktop-medium {
        grid-column: 1 / 7;
      }

      @include for-desktop-big {
      grid-column: 1 / 13;
      }
    }

    &__title{
      grid-column: 1 / 3;
      grid-row:2 / 3;
      align-self: end;

      @include for-desktop-medium {
        grid-column: 1 / 7;
      }

      @include for-desktop-big {
        grid-column: 1 / 13;
      }
    }
}
